body {
    background-color: rgb(12, 201, 201);
    font-size: large;
}
h1 {
    color: rgb(189, 15, 15);
    text-align: center;
}

h2, h3 {
    color: rgb(189, 15, 15);
}

#Home {
    background-color: rgb(23, 75, 216);
    grid-row: 1 / 1;
    grid-column: 1 / 6;
}

#second {
    grid-row: 2 / 2;
    grid-column: 1 / 6;
    background-color: rgb(7, 45, 148);
    text-align: center;
}

box {
    box-sizing: content-box;
    background-color: aqua;
    border-radius: 5rem;
    padding: 5px;
    margin: 10px;
}

.babies {
    display: grid;
    grid-template-columns: (100% 6fr);
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.three {
    grid-row: 3 / 3;
    grid-column: 1 / 7;
    background-color: rgb(48, 72, 138);
}

#see {
    text-align: left;
}

#more {
    text-align: right;
}

.videos {
    background-color: aqua;
    grid-row: 4 / 4;
    grid-column: 1 / 7;
}

#TB {
    background-color: rgb(115, 167, 167);
    align-self: left;
    height: 100px;
    width: 100px;
}

#SB {
    background-color: rgb(180, 165, 233);
    float: right;
    height: 100px;
    width: 100px;
}

#OS {
    background-color: rgb(69, 41, 173);
    -moz-box-align: center;
    height: 100px;
    width: 100px;
}

footer {
    grid-row: 5 / 6;
    grid-column: 1 / 7;
    text-align: center;
}

button:hover {
    border: 3px solid rgb(4, 255, 201);
    background-color: rgb(255, 0, 255);
}

a:hover {
    color: rgb(233, 183, 107);
    border: 3px solid rgb(43, 226, 43);
}


/* For medium screens: tablets (≤ 768px) */
@media (max-width: 768px) {
    body {
        font-size: medium;
    }

    .babies {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, auto);
    }

    #more, #see {
        text-align: center;
    }

    #SB, #TB, #OS {
        float: none;
        margin: auto;
        display: block;
    }
}

/* For small screens: mobile (≤ 480px) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.4rem;
        padding: 10px;
    }

    body {
        font-size: small;
    }

    .babies {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    button, a {
        display: block;
        margin: 10px auto;
    }

    footer {
        font-size: smaller;
        padding: 10px;
    }
}
